In [73]:
import pandas as pd

In [74]:
raw_data = pd.read_excel("../data/raw/Dataset of AI Adoption Usage among Students in Indonesia Higher Education.xlsx")

In [75]:
raw_data.columns

Index(['Respondent', 'Gender', 'University', 'Level of Education', 'Province',
       'Fields of Study', 'Type of AI', 'PE1', 'PE2', 'PE3', 'PE4', 'PE5',
       'PE6', 'PE7', 'PE8', 'PE9', 'PE10', 'PE11', 'PE12', 'PE13', 'PE14',
       'PE15', 'PE16', 'PE17', 'PE18', 'PE19', 'PE20', 'CU1', 'CU2', 'CU3',
       'CU4', 'ATU1', 'ATU2', 'ATU3', 'ATU4', 'ATU5', 'AUP1', 'AUP2', 'AUP3',
       'AUP4', 'AUP5', 'MIUA1', 'MIUA2', 'MIUA3', 'MIUA4', 'MIUA5'],
      dtype='object')

In [76]:
raw_data

,Respondent,Gender,University,Level of Education,Province,Fields of Study,Type of AI,PE1,PE2,PE3,...,AUP1,AUP2,AUP3,AUP4,AUP5,MIUA1,MIUA2,MIUA3,MIUA4,MIUA5
0,1,1,1,2.0,6.0,3.0,3.0,3.0,3.0,3.0,...,1.0,2.0,3.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0
1,2,1,1,2.0,4.0,3.0,2.0,1.0,1.0,1.0,...,1.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2,3,1,1,2.0,4.0,3.0,2.0,3.0,2.0,3.0,...,1.0,2.0,3.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0
3,4,1,1,2.0,4.0,0.0,2.0,3.0,3.0,3.0,...,2.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
4,5,2,1,2.0,4.0,0.0,2.0,3.0,3.0,3.0,...,2.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
597,NaN,Sheet Plus,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
598,NaN,Eduten,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
599,NaN,Shutterstock AI,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
600,NaN,Perplexity.AI,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
601,NaN,Others,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [77]:
data = raw_data[:535]

In [78]:
data

,Respondent,Gender,University,Level of Education,Province,Fields of Study,Type of AI,PE1,PE2,PE3,...,AUP1,AUP2,AUP3,AUP4,AUP5,MIUA1,MIUA2,MIUA3,MIUA4,MIUA5
0,1,1,1,2.0,6.0,3.0,3.0,3.0,3.0,3.0,...,1.0,2.0,3.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0
1,2,1,1,2.0,4.0,3.0,2.0,1.0,1.0,1.0,...,1.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2,3,1,1,2.0,4.0,3.0,2.0,3.0,2.0,3.0,...,1.0,2.0,3.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0
3,4,1,1,2.0,4.0,0.0,2.0,3.0,3.0,3.0,...,2.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
4,5,2,1,2.0,4.0,0.0,2.0,3.0,3.0,3.0,...,2.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
530,531,2,1,2.0,16.0,2.0,2.0,4.0,2.0,2.0,...,1.0,1.0,4.0,2.0,1.0,2.0,2.0,2.0,1.0,3.0
531,532,1,1,2.0,36.0,7.0,1.0,4.0,4.0,4.0,...,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,2.0,3.0
532,533,2,1,2.0,16.0,2.0,11.0,2.0,2.0,3.0,...,4.0,3.0,4.0,2.0,2.0,2.0,2.0,2.0,3.0,2.0
533,534,1,2,2.0,20.0,8.0,12.0,3.0,3.0,3.0,...,3.0,3.0,3.0,2.0,3.0,3.0,3.0,2.0,3.0,3.0
534,535,1,1,2.0,34.0,8.0,2.0,4.0,4.0,4.0,...,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0

In [79]:
data.shape

(535, 46)

In [80]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 535 entries, 0 to 534
Data columns (total 46 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Respondent          535 non-null    object
 1   Gender              535 non-null    object
 2   University          535 non-null    object
 3   Level of Education  535 non-null    float64
 4   Province            535 non-null    float64
 5   Fields of Study     535 non-null    float64
 6   Type of AI          535 non-null    float64
 7   PE1                 535 non-null    float64
 8   PE2                 535 non-null    float64
 9   PE3                 535 non-null    float64
 10  PE4                 535 non-null    float64
 11  PE5                 535 non-null    float64
 12  PE6                 535 non-null    float64
 13  PE7                 535 non-null    float64
 14  PE8                 534 non-null    float64
 15  PE9                 534 non-null    float64
 16  PE10                534 non-null    float64
 17  PE11                533 non-null    float64
 18  PE12                534 non-null    float64
 19  PE13                534 non-null    float64
 20  PE14                534 non-null    float64
 21  PE15                534 non-null    float64
 22  PE16                534 non-null    float64
 23  PE17                533 non-null    float64
 24  PE18                533 non-null    float64
 25  PE19                531 non-null    float64
 26  PE20                533 non-null    float64
 27  CU1                 534 non-null    float64
 28  CU2                 534 non-null    float64
 29  CU3                 534 non-null    float64
 30  CU4                 533 non-null    float64
 31  ATU1                534 non-null    float64
 32  ATU2                533 non-null    float64
 33  ATU3                533 non-null    float64
 34  ATU4                533 non-null    float64
 35  ATU5                534 non-null    float64
 36  AUP1                534 non-null    float64
 37  AUP2                534 non-null    float64
 38  AUP3                534 non-null    float64
 39  AUP4                534 non-null    float64
 40  AUP5                534 non-null    float64
 41  MIUA1               534 non-null    float64
 42  MIUA2               534 non-null    float64
 43  MIUA3               534 non-null    float64
 44  MIUA4               534 non-null    float64
 45  MIUA5               534 non-null    float64
dtypes: float64(43), object(3)
memory usage: 192.4+ KB

In [81]:
data.describe()

,Level of Education,Province,Fields of Study,Type of AI,PE1,PE2,PE3,PE4,PE5,PE6,...,AUP1,AUP2,AUP3,AUP4,AUP5,MIUA1,MIUA2,MIUA3,MIUA4,MIUA5
count,535.000000,535.000000,535.000000,535.000000,535.000000,535.000000,535.000000,535.000000,535.000000,535.000000,...,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000
mean,1.846729,12.482243,3.693458,5.074766,3.186916,3.052336,3.134579,3.018692,3.065421,3.119626,...,1.973783,2.923221,3.174157,2.631086,2.631086,2.702247,2.816479,2.749064,2.485019,3.014981
std,0.404636,8.816224,2.815064,3.759385,0.775694,0.745190,0.752412,0.816282,0.745411,0.793636,...,1.011781,0.835260,0.871482,0.763034,0.849151,0.819162,0.777275,0.810779,0.880666,0.767394
min,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,2.000000,4.000000,1.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,...,1.000000,2.000000,3.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,3.000000
50%,2.000000,13.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,...,2.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,2.000000,3.000000
75%,2.000000,19.000000,7.000000,9.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,...,3.000000,4.000000,4.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,4.000000
max,3.000000,36.000000,8.000000,12.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,...,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000

In [82]:
data.isnull().sum()

Respondent            0
Gender                0
University            0
Level of Education    0
Province              0
Fields of Study       0
Type of AI            0
PE1                   0
PE2                   0
PE3                   0
PE4                   0
PE5                   0
PE6                   0
PE7                   0
PE8                   1
PE9                   1
PE10                  1
PE11                  2
PE12                  1
PE13                  1
PE14                  1
PE15                  1
PE16                  1
PE17                  2
PE18                  2
PE19                  4
PE20                  2
CU1                   1
CU2                   1
CU3                   1
CU4                   2
ATU1                  1
ATU2                  2
ATU3                  2
ATU4                  2
ATU5                  1
AUP1                  1
AUP2                  1
AUP3                  1
AUP4                  1
AUP5                  1
MIUA1                 1
MIUA2                 1
MIUA3                 1
MIUA4                 1
MIUA5                 1
dtype: int64

In [83]:
data[data.isnull().any(axis=1)]

,Respondent,Gender,University,Level of Education,Province,Fields of Study,Type of AI,PE1,PE2,PE3,...,AUP1,AUP2,AUP3,AUP4,AUP5,MIUA1,MIUA2,MIUA3,MIUA4,MIUA5
0,1,1,1,2.0,6.0,3.0,3.0,3.0,3.0,3.0,...,1.0,2.0,3.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0
12,13,2,1,2.0,4.0,0.0,2.0,1.0,2.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,21,1,2,2.0,21.0,0.0,3.0,4.0,4.0,1.0,...,1.0,4.0,1.0,1.0,1.0,3.0,1.0,4.0,3.0,4.0
24,25,1,1,2.0,4.0,0.0,11.0,4.0,3.0,2.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
40,41,1,1,2.0,4.0,3.0,12.0,3.0,3.0,3.0,...,2.0,2.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
52,53,1,1,3.0,4.0,3.0,3.0,3.0,3.0,3.0,...,1.0,2.0,3.0,3.0,2.0,3.0,3.0,4.0,2.0,4.0
74,75,1,1,1.0,4.0,3.0,12.0,3.0,2.0,3.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
85,86,1,1,2.0,4.0,3.0,12.0,3.0,3.0,4.0,...,2.0,3.0,3.0,3.0,4.0,3.0,4.0,4.0,4.0,4.0
105,106,2,1,2.0,4.0,0.0,11.0,4.0,4.0,4.0,...,1.0,3.0,4.0,3.0,3.0,3.0,4.0,4.0,3.0,4.0